.unit {
  height: 250px;
}

.label {
  &__green {
    color: #23cc11;
  }

  &__red {
    color: #CC0E0E;
  }
}

.dropdown {
  --main-text-color: wheat;
  --text-color-selected: wheat;
  --text-color-unselected: grey;
  --options-height: 150px;
  --options-width: 64px;
  position: 'relative';
  display: 'inline-block';
  display: flex;
  flex-direction: column;
}

.dropdown__space {
  padding: 20px;
}

.dropdown__options {
  margin: 0px 16px;
  height: var(--options-height);
  width: var(--options-width);
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
  overflow-y: scroll;
  scrollbar-width: none;
  text-align: center;

  &::-webkit-scrollbar {
    display: none;
  }
}

.dropdown__option {
  display: flex;
  color: var(--text-color-unselected);
  padding: 6px 16px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(83, 81, 81);

  &--selected {
    display: flex;
    color: var(--text-color-selected);
    text-align: center;
    text-decoration: none;
    padding: 6px 16px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
  }
}