.container {
  display: 'flex';
  flex-direction: 'row';
  gap: '20px';
  flex-wrap: 'wrap';
  margin: 'auto';
  justify-content: 'center';
}

.unit {
  height: 250px;
}

.label {
  &__green {
    color: #23cc11;
  }

  &__red {
    color: #CC0E0E;
  }
}

.dropdown {
  --main-text-color: wheat;
  --text-color-selected: wheat;
  --text-color-unselected: grey;
  --options-height: 150px;
  --options-width: 64px;
  position: 'relative';
  display: 'inline-block';
  display: flex;
  flex-direction: column;
}

.dropdown__space {
  padding: 50px;
}

.dropdown__options {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  display: 'block';
  margin: 0px 16px;
  height: var(--options-height);
  width: var(--options-width);
  border-width: 1px;
  border-style: solid;
  border-color: white;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.dropdown__option {
  display: flex;
  margin: 2dp;
  flex-direction: column;
  color: var(--text-color-unselected);
  padding: 6px 16px;
  text-decoration: 'none';
  border-width: 1px;
  border-style: solid;
  border-color: rgb(83, 81, 81);

  &--selected {
    color: var(--text-color-selected);
    padding: 12px 8px;
  }
}

.dropdown__selected {
  color: black;
  padding: 12px 16px;
  text-decoration: 'none';
  display: 'block';
}