.profile {
  &__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;

    &__input {
      margin: 10px;
      display: flex;
      flex-direction: column;
      background-color: black;

      & > * {
        margin: 10px;
      }
    }
  }
}
