.chooser {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
}

.selector {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.unit {
  height: 250px;
}

.label {
  &__green {
    color: #23cc11;
  }

  &__red {
    color: #CC0E0E;
  }
}

.name {
  display: flex;
  flex-direction: column;
  color: var(--text-color-unselected);
  padding: 16px 16px;
}