.layout {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
  }

  &__close {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.unit {
  height: 250px;
}

.label {
  &__green {
    color: #23cc11;
  }

  &__red {
    color: #CC0E0E;
  }
}