.textLabel {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__label {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font: {
      family: var(--font-family);
      size: var(--font-size);
      weight: var(--font-weight);
    }
  }

  &__clickable {
    cursor: pointer;
  }
}