.bu {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
  }

  &__label {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__value {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}